.login-form-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  min-height: 100vh;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #272727;
  width: 40vw;
  max-width: 900px;
  border-radius: 10px;
  padding: 50px;
}

.website-logo {
  width: 168px;
  height: 60px;
  margin: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 8px;
}

.input-element {
  background-color: transparent;
  border-radius: 5px;
  border-style: solid;
  border-color: #2c364c;
  border-width: 1px;
  height: 40px;
  padding: 15px;
  color: #ffffff;
  outline: none;
}

.login-button {
  background-color: #6366f1;
  height: 40px;
  border-radius: 10px;
  border-width: 0px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 10px;
  cursor: pointer;
}

.error-message {
  color: #ff0b37;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .login-form-container {
    width: 80vw;
    padding: 30px;
  }

  .website-logo {
    width: 84px;
    height: 30px;
  }
}
