.similar-job-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #272727;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 35px;
  width: 45%;
  margin-right: 35px;
}

@media screen and (max-width: 767px) {
  .similar-job-item {
    padding: 15px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.similar-job-link {
  text-decoration: none;
}

.similar-logo-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.similar-company-logo {
  width: 55px;
  height: 55px;
}

.similar-job-title-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10px;
}

.similar-job-title {
  font-size: 20px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 5px;
}

.similar-rating-container {
  display: flex;
  flex-direction: row;
}

.similar-rating {
  margin-top: 0;
  margin-left: 5px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

.star-icon {
  margin-top: 4px;
}

.location-employment-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.location-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 16px;
}

.location-employment-label {
  font-size: 16px;
  color: #ffffff;
  margin-top: 0;
  margin-left: 8px;
  margin-bottom: 8px;
}

.employment-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.similar-description-heading {
  font-size: 20px;
  color: #ffffff;
  font-family: 'Roboto';
}

.similar-description {
  font-size: 18px;
  color: #ffffff;
  font-weight: 350;
}
